<div class="container">
  <div class="container__left-side">
    <div class="header">
      <h2>Angular PDF highlighter</h2>
       
    </div>
    <div class="list">
      <div
        class="list-row"
        *ngFor="let list of highlightedTextFields"
        (click)="moveTo(list); $event.stopPropagation()"
      >
        <div class="delete-btn">
          <i
            class="material-icons icon"
            (click)="delete(list); $event.stopPropagation()"
            >close</i
          >
        </div>
        <div class="title">Position:</div>
        <pre>
          <div [innerHTML]="list?.rect | json"></div>
        </pre>
        <div class="page-number">Page {{ list?.pageNumber }}</div>
      </div>
    </div>
  </div>

  <div
    class="container__right-side"
    (mousemove)="mouseEvent($event)"
    (mousedown)="mouseEvent($event)"
    (mouseup)="mouseEvent($event)"
  >
    <pdf-viewer
      [original-size]="false"
      (window:resize)="onResize($event)"
      [src]="data"
      id="foo"
      [show-all]="true"
      [render-text]="true"
      [autoresize]="true"
      (page-rendered)="pageRendered($event)"
      style="display: block;"
    >
    </pdf-viewer>
  </div>
  <div class="container__rightmost-side">
    <input type="file" (change)="onFileChange($event)" />
    <form [formGroup]="adminForm">
      <div *ngFor="let data of extractedData; let i = index">
        <p class="form-spacing">
          Highlighted Text
          <input
            [value]="data"
            formControlName="highlightedText"
            type="highlightedText"
          />
        </p>
        <p class="form-spacing">
          Merge Field
          <input
            formControlName="mergeField"
            [(ngModel)]="mergefieldstring[i]"
            type="mergeField"
          />
        </p>
        <p class="form-spacing">
          Type Of Field
          <select (change)="fieldtype($event)">
            <option value=""></option>
            <option value="AlphaNumeric">AlphaNumeric</option>
            <option value="Date-Format">Date-Format</option>
            <option value="Numeric">Numeric</option>
            <option value="Alphabets">Alphabets</option>
          </select>
        </p>
        <p class="form-spacing">
          Radio Button
          <select (change)="radiotype($event)">
            <option value=""></option>
            <option value="Buyer">Buyer</option>

            <option value="Seller">Seller</option>
          </select>
        </p>
        <br />
        <br />
      </div>
      <button (click)="postData()" class="form-spacing" type="button">
        Submit
      </button>
    </form>
  </div>
</div>

<div class="js-popper popper" [style.display]="getStyle()">
  <div class="icons">
    <i class="material-icons icon icon-apply" (click)="save()">check_box</i>
    <i class="material-icons icon icon-close" (click)="cancel()">close</i>
  </div>
</div>
