
<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item">
          <a class="uk-logo" href="#"><img class="custom-logo" src="assets/dashboard-logo.svg" alt=""></a>
        </div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="#" data-uk-icon="icon:user" title="Your profile" data-uk-tooltip></a></li>
          <li><a href="#" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a></li>
          <li><a href="#" data-uk-icon="icon:  sign-out" title="Sign Out" data-uk-tooltip></a></li>
          <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"
              title="Offcanvas" data-uk-tooltip></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/HEADER-->
<!-- LEFT BAR -->
<aside id="left-col" class="uk-light uk-visible@m">
  <div class="left-logo uk-flex uk-flex-middle uk-flex-center uk-margin">
    <img class="custom-logo" src="assets/dashboard-logo2.svg" alt="">
  </div>
  <div class="uk-margin uk-flex uk-flex-center" [ngClass]="{'uk-hidden':processsingData}">
    <div uk-form-custom>
      <input (change)="onFileChange($event)" type="file">
      <button class="uk-button uk-button-default uk-button-small" type="button" tabindex="-1">Select PDF</button>
    </div>
  </div>
  <div [ngClass]="{'uk-hidden':!processsingData}" style="top: 31%;position: relative;" class="uk-text-center">
      <div id="preloader">
          <div id="loader"></div>
        </div>
    <p class="uk-margin-remove">{{loaderMessage}}.....</p></div>



  <table [ngClass]="{'uk-hidden':!showForm}" class="uk-table uk-table-small uk-margin-remove">
    <thead>
      <tr>
        <th>Text Selected</th>
        <th>Merge Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer;" (click)="moveTo(data.id); $event.stopPropagation()"
        *ngFor="let data of displayMergeFieldNames; let i = index">
        <td>{{data.mergeFieldText}}</td>
        <td>
          <select [(ngModel)]="data.mergeFieldIdentifier" class="uk-select uk-nav uk-dropdown-nav uk-form-small">
            <option disabled  selected value="">Please Select Merge Field</option>
            <option *ngFor="let fields of mergeFieldTypes " [value]="fields.FieldName">{{fields.FieldName}}</option>
          </select>
        </td>
        <td><span (click)="delete(data)" uk-icon="close"></span></td>
      </tr>
    </tbody>
  </table>
  <div class="uk-flex uk-flex-right uk-button-small uk-margin-small-top">
      <div [ngClass]="{'uk-hidden':!showForm}" class="uk-flex uk-flex-right uk-button-small">
          <button (click)="postData()" class="uk-button uk-button-primary uk-background-primary uk-button-small">GENEARATE TEMPLATE</button>
        </div>
  </div>

</aside>
<!-- /LEFT BAR -->
<!-- CONTENT -->
<div id="content">
  <div class="uk-container uk-container-expand" (mousemove)="mouseEvent($event)" (mousedown)="mouseEvent($event)"
    (mouseup)="mouseEvent($event)" data-uk-height-viewport="expand: true">
    <pdf-viewer [original-size]="false" (window:resize)="onResize($event)" [src]="data" id="foo" [show-all]="true"
      [render-text]="true" [autoresize]="true" (page-rendered)="pageRendered($event)" style="display: block;">
    </pdf-viewer>
  </div>
  <footer class="uk-section uk-section-small uk-text-center">
    <hr>
    <p class="uk-text-small uk-text-center">Copyright 2019 - First American </p>
  </footer>
</div>
<!-- /CONTENT -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span>
          Item</a></li>
      <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a>
      </li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
    </ul>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>
<!-- /OFFCANVAS -->
<div class="js-popper popper" [style.display]="getStyle()">
  <div class="icons">
    <i class="material-icons icon icon-apply" (click)="save()">check_box</i>
    <i class="material-icons icon icon-close" (click)="cancel()">close</i>
  </div>
</div>
<!-- JS FILES -->
