<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item">
          <a class="uk-logo uk-flex uk-flex-middle" href="#"><img class="custom-logo" src="assets/Logo1.png" alt="" /></a>
        </div>
      </div>
      <div class="uk-navbar-right">
        <div class="uk-margin-right">
          <div uk-form-custom="target: > * > span:first-child">
              <select class="" [(ngModel)]="projectName" (change)=changeProject($event.target.value)>
                <option disabled value="">Select Project</option>
                <option *ngFor="let app of allApplications" [selected]="LFG" [value]="app">{{app}}</option>
              </select>
              <button class="uk-button uk-button-top" type="button" tabindex="-1">
              <span></span>
              <span uk-icon="icon: chevron-down"></span>
            </button>
          </div>
        </div>
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/user'] " data-uk-icon="icon:user" title="End User" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/admin']" data-uk-icon="icon: settings" title="Admin Portal" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/applicationname']" data-uk-icon="icon:  sign-out" title="Add Application"
              data-uk-tooltip></a>
          </li>
          <li>
            <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"
              title="Offcanvas" data-uk-tooltip></a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/HEADER-->
<!-- LEFT BAR -->
<aside [ngClass]="{'uk-hidden':showTemplates}" id="left-col" class="uk-light uk-visible@m uk-animation-slide-left">
  <div class="uk-margin uk-flex uk-flex-center " [ngClass]="{ 'uk-hidden': processsingData || !showSelectPdf }">
    <div uk-form-custom>
      <input type="file" accept="application/pdf" (change)="onFileChange($event)" type="file" />
      <button class="uk-button uk-border-rounded uk-button-default uk-button-small" type="button" tabindex="-1">
        Select PDF
      </button>
    </div>
    <button (click)="showExistingTemplates()" class="uk-button uk-border-rounded uk-button-primary uk-border-rounded uk-button-small uk-margin-left">Edit Templates</button>
    <!-- <button *ngIf="showAutoDectionButton" class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-left"  (click)="runMlModel()">Run Auto Detection</button> -->
  </div>
  
  
  <button *ngIf="showAutoDectionButton" class="uk-button uk-button-primary uk-border-rounded uk-button-small" (click)="runMlModel()">Run Auto Detection</button>
  <button *ngIf="showEmptyFieldDetection" class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-left" (click)="runFieldDetection()">Run Empty Field Detection</button> 
      <div *ngIf="processsingData">
        <div class="ocrloader">
          <em></em>
          <div>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i>
          </div>
          <span></span>
        </div>
    <p class="uk-margin-remove loader-text">{{ loaderMessage }}</p>
  </div>

  <table *ngIf="showForm" class="uk-table uk-table-small uk-table-striped uk-margin-remove">
    <thead>
      <tr>
        <th>Text Selected</th>
        <th>Merge Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="moveTo(data.id); $event.stopPropagation()" *ngFor="let data of MergeFieldsSelectedList; let i = index">
        <td><input [(ngModel)]="data.mergeFieldText" class="uk-input uk-form-small" /></td>
        <td>
          <select [(ngModel)]="data.mergeFieldIdentifier" class="uk-select uk-form-small">
            <option disabled selected value="">Select Merge Field</option>
            <option *ngFor="let fields of mergeFieldTypes" [value]="fields.FieldName">{{ fields.FieldName }}</option>
          </select>
        </td>
        <td><span (click)="delete(data)" uk-icon="close"></span></td>
      </tr>
    </tbody>

  </table>
  <div class="uk-flex uk-flex-center uk-margin-small-top">
      <button *ngIf="showForm" (click)="GenerateTemplate()" class="uk-button uk-button-primary uk-border-rounded uk-button-small">
        Generate Template
      </button>
      <button *ngIf="confirmationButton" (click)="verifyTemplate()" class="uk-button uk-button-default uk-button-small uk-margin-left">
        Verify Template
      </button>
      <button *ngIf="confirmationButton" (click)="editTemplate()" class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-left">
        Edit Template
      </button>
  </div>
</aside>




<aside *ngIf="showTemplates" id="left-col" class="uk-light uk-visible@m">
  <div class="uk-margin uk-margin-left" [ngClass]="{ 'uk-hidden': processsingData || !showSelectPdf }">
      <button (click)="backToMainSection()" class="uk-button uk-button-text uk-button-small" type="button" tabindex="-1">
        Back
      </button>
  </div>
  <!-- Loader Section -->
  <div *ngIf="processsingData">
    <div class="ocrloader">
      <em></em>
      <div>
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i>
      </div>
      <span></span>
    </div>
  <p class="uk-margin-remove loader-text">{{ loaderMessage }}</p>
  </div>
  <p class="uk-text-center" *ngIf="showTemplatesToBeModified">Please Select a PDF To modify</p>
  <ul class="uk-list uk-list-striped" *ngIf="showTemplatesToBeModified">
    <li *ngFor="let order of ordersData">
      <!-- <label> -->
      <a class="uk-button uk-button-link" (click)="getPDF(order)">{{order.TemplateName}}</a>
      <!-- <input type="radio" class="uk-radio" name="TemplateName" value="order.TemplateId" (click)="getPDF(order)">
        {{order.TemplateName}} -->
      <!-- </label> -->
    </li>
  </ul>

  <table class="uk-table uk-table-small uk-margin-remove" *ngIf="showTemplatesToBeModified">
    <thead>
      <tr>
        <th>Text Selected</th>
        <th>Merge Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="moveTo(data.id); $event.stopPropagation()" *ngFor="let data of MergeFieldsSelectedList; let i = index">
        <td><input [(ngModel)]="data.mergeFieldText" class="uk-input uk-form-small" /></td>
        <td>
          <select [(ngModel)]="data.mergeFieldIdentifier" class="uk-select uk-form-small">
            <option disabled selected value="">Please Select Merge Field</option>
            <option *ngFor="let fields of mergeFieldTypes" [value]="fields.FieldName">{{ fields.FieldName }}</option>
          </select>
        </td>
        <td><span (click)="delete(data)" uk-icon="close"></span></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="showEditableTemplateData" class="uk-flex uk-flex-center uk-margin-top">
    <button class="uk-button uk-button-default uk-button-small uk-border-rounded" (click)="addExtraMergeField()">Add Merge Field</button>
  </div>
  <div class="uk-flex uk-flex-center uk-margin-small-top">
      <button *ngIf="showEditableTemplateData" (click)="GenerateTemplate()" class="uk-button uk-button-primary uk-border-rounded uk-button-small">
        Generate Template
      </button>
      <button *ngIf="confirmationButton" (click)="verifyTemplate()" class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-left">
        Verify Template
      </button>
      <button *ngIf="confirmationButton" (click)="editTemplate()" class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-left">
        Edit Template
      </button>
  </div>
</aside>


<!-- /LEFT BAR -->  
<!-- CONTENT -->
<div id="content">
  <div class="uk-container uk-container-expand" (mousemove)="mouseEvent($event)" (mousedown)="mouseEvent($event)"
    (mouseup)="mouseEvent($event)" data-uk-height-viewport="expand: true">
    <pdf-viewer [original-size]="false" (window:resize)="onResize($event)" [src]="data" id="foo" [show-all]="true"
      [render-text]="true" [autoresize]="true" (page-rendered)="pageRendered($event)" style="display: block;">
    </pdf-viewer>
  </div>
  <footer class="uk-section uk-section-small uk-text-center">
    <hr />
    <p class="uk-text-small uk-text-center">Copyright 2019 - First American</p>
  </footer>
</div>
<!-- /CONTENT -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li>
        <a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span>
          Item</a>
      </li>
      <li>
        <a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span>
          Item</a>
      </li>
      <li class="uk-nav-divider"></li>
      <li>
        <a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span>
          Item</a>
      </li>
    </ul>
    <h3>Title</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
</div>
<!-- /OFFCANVAS -->
<div class="js-popper popper uk-light" [style.display]="getStyle()">
  <div class="icons">
    <select [(ngModel)]="mergeFieldSelection" class="uk-select uk-form-small">
      <option disabled selected value="">Select Merge Field</option>
      <option *ngFor="let fields of mergeFieldTypes" [value]="fields.FieldName">{{ fields.FieldName }}</option>
    </select>
    <span class="uk-margin-small-left cursor-point" (click)="SelectText()"><img src="data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cpath fill='%2339CC02' d='M12,0C5.4,0,0,5.4,0,12c0,6.6,5.4,12,12,12s12-5.4,12-12C24,5.4,18.6,0,12,0z'/%3E%3Cpath fill='%23ffffff' d='M10.2,18.5c-0.3,0.3-0.7,0.3-1,0L9,18.3l0,0l-0.2-0.2l-1-1l0,0l-4.6-4.6c-0.3-0.3-0.3-0.7,0-1L4.6,10 c0.3-0.3,0.7-0.3,1,0l4.1,4.2l8.7-8.7c0.3-0.3,0.7-0.3,1,0l1.5,1.5c0.3,0.3,0.3,0.7,0,1L10.2,18.5z'/%3E%3C/svg%3E%0A" width="28px" height="28px" alt="" /></span>
    <span class="uk-margin-small-left cursor-point" (click)="CancelSelection()"><img src="data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28 28' style='enable-background:new 0 0 28 28;' xml:space='preserve'%3E%3Cpath fill='%23CC0505' d='M14-0.1C6.3-0.1,0.1,6.1,0.1,13.8c0,7.7,6.2,13.9,13.9,13.9s13.9-6.2,13.9-13.9C27.9,6.1,21.7-0.1,14-0.1z'/%3E%3Cpath fill='%23FFFFFF' d='M15.9,14l6.3-6.3c0.2-0.2,0.3-0.4,0.3-0.7c0-0.2-0.1-0.5-0.3-0.7l-0.6-0.6c-0.2-0.2-0.4-0.3-0.7-0.3 c-0.2,0-0.5,0.1-0.7,0.3L14,12.1L7.7,5.8C7.5,5.6,7.2,5.5,7,5.5c-0.2,0-0.5,0.1-0.7,0.3L5.8,6.3c-0.4,0.4-0.4,1,0,1.3l6.3,6.3 l-6.3,6.3c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.2,0.1,0.5,0.3,0.7l0.6,0.6c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3 c0.2,0.2,0.4,0.3,0.7,0.3h0c0.2,0,0.5-0.1,0.7-0.3l0.6-0.6c0.2-0.2,0.3-0.4,0.3-0.7c0-0.2-0.1-0.5-0.3-0.7L15.9,14z'/%3E%3C/svg%3E" width="28px" height="28px" alt="" /></span>
  </div>
</div>
<!-- JS FILES -->
