<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item">
          <a class="uk-logo" href="#"><img class="custom-logo" src="assets/Logo1.png" alt="" /></a>
        </div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/user'] " data-uk-icon="icon:user" title="End User" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/admin']" data-uk-icon="icon: settings" title="Admin Portal" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/applicationname']" data-uk-icon="icon:  sign-out" title="Add Application"
              data-uk-tooltip></a>
          </li>
          <li>
            <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"
              title="Offcanvas" data-uk-tooltip></a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="uk-container uk-margin-large-top">
  <div class="uk-inline uk-width-1-4 pointer" [ngClass]="{'uk-hidden': !showAddProjectButton }">
    <button class="uk-button uk-button-default" type="button">Select Project</button>
    <div uk-dropdown="mode: click" class="uk-padding-remove">
      <div *ngFor="let project of projects; let i = index" class="uk-list uk-list-striped uk-text-center ">
        <li (click)="getevent(i)" class="uk-active"><a href="#"></a>{{project}}</li> 
      </div>
    </div>

  </div>
  <div *ngIf="(currentApplication)" class="uk-inline uk-width-1-4">
    <button (click)="cancelProject()" class="uk-button uk-button-primary">Cancel</button>
  </div>
  <div *ngIf="(!showAddProjectButton)" class="uk-inline uk-width-1-4">
    <button (click)="cancelNewProjectAddition()" class="uk-button uk-button-primary">Cancel</button>
  </div>
  <div [ngClass]="{'uk-hidden': !showAddProjectButton || currentApplication}" class="uk-inline uk-width-1-4">
    <button (click)="addProject()" class="uk-button uk-button-primary">ADD PROJECT</button>
  </div>
  <!-- <div *ngIf="(currentApplication)">
    <div class="uk-container uk-margin-medium-top">
      <div class="uk-margin-medium-top uk-width-1-1">
        <div *ngFor="let num of currentApplicationDetails">
          <input class="uk-input uk-width-1-3 uk-margin-bottom" [(ngModel)]="num.FieldName" type="text" />
          
        </div>
      </div>

    </div>
  </div> -->
  <table *ngIf="(currentApplication)" class="uk-table uk-table-striped uk-width-1-3">
    <thead>
        <tr>
            <th>MergeField Name</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of currentApplicationDetails">
            <td>{{detail.FieldName}}</td>
           
            
       
    </tbody>
</table>

  <div *ngIf="(addProj)">
    <div class="uk-width-1-1 uk-margin-top">
      <div class="uk-width-1-2 uk-text-large	uk-text-bold uk-inline">
        PROJECT NAME
      </div>
      <div class="uk-inline uk-width-1-2">
        <input class="uk-input " [(ngModel)]="projectName" type="text" placeholder="Enter your Project Name.....">
      </div>
    </div>
    <div class="uk-width-1-1 uk-margin-top">
      <div class="uk-inline uk-width-1-2">
        <input class="uk-input " [(ngModel)]="urlFetchDetails" type="text"
          placeholder="Enter your Project Source Link.....">
      </div>
      <!-- <div class="uk-inline uk-width-1-2">
        <button (click)="fetchDetails()" class="uk-button uk-button-primary">FETCH DETAILS</button>
      </div> -->
    </div>
    <div class="uk-width-1-1 uk-margin-top">
        <div class="uk-inline uk-width-1-2">
          <input class="uk-input " [(ngModel)]="dataSource" type="text"
          placeholder="Enter your Data Source Link.....">
        </div>
        <div class="uk-inline uk-width-1-2">
          <button (click)="fetchUserDetails()" class="uk-button uk-button-primary">GET DATA SOURCE</button>
        </div>
      </div>
    <!-- <div class="uk-inline uk-width-1-2 uk-margin-top uk-margin-bottom">
      <input class="uk-input " [(ngModel)]="dataSource" type="text" placeholder="Enter your Data Source Link.....">
    </div> -->
    <!-- <div *ngIf="(dataLoaded)" style="display: inline-block;" class="uk-inline uk-width-1-1">
      <div class="uk-container uk-margin-medium-top">
        <div class="uk-margin-medium-top uk-width-1-1">
          <div *ngFor="let num of projectModel">
            <input placeholder="Enter Merge Field Name" class="uk-input uk-width-1-3 uk-margin-bottom"
              [(ngModel)]="num.FieldName" type="text" />
    
          </div>
        </div>
    
      </div>
    </div> -->
    <table *ngIf="(dataLoaded && userDataLoaded)" class="uk-table uk-table-striped uk-width-1-3">
        <thead>
            <tr>
                <th>MergeField Name</th>
                <th>Data Source Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of filteredDetails">
                <td>{{detail.dataSourceName}}</td>
                <td>{{detail.dataSourceValue}}</td>
                
           
        </tbody>
    </table>
  
   
    <!-- <div *ngIf="(userDataLoaded)" style="display: inline-block;" class="uk-inline uk-width-1-1">
            <div class="uk-container uk-margin-medium-top">
              <div class="uk-margin-medium-top uk-width-1-1">
                <div *ngFor="let num of projectModel">
                  <input placeholder="Enter Merge Field Name" class="uk-input uk-width-1-3 uk-margin-bottom"
                    [(ngModel)]="num.FieldName" type="text" />
                    <input placeholder="Enter Merge Field Name" class="uk-input uk-width-1-3 uk-margin-bottom"
                    [(ngModel)]="num.FieldName" type="text" />
                 
                </div>
              </div>
      
            </div>
        </div> -->
    <div *ngIf="(dataLoaded)" class="uk-inline">
      <!-- <button (click)="addExtraFields()" class="uk-button uk-button-danger">ADD MORE FIELDS</button> -->
      <button (click)="submitProjectDetails()" class=" uk-margin-left uk-button uk-button-danger">SUBMIT PROJECT
        DETAILS</button>

    </div>
  </div>

</div>