<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item">
          <a class="uk-logo uk-flex uk-flex-middle" href="#"><img class="custom-logo" src="assets/Logo1.png" alt="" /></a>
        </div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/user'] " data-uk-icon="icon:user" title="End User" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/admin']" data-uk-icon="icon: settings" title="Admin Portal" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/applicationname']" data-uk-icon="icon:  sign-out" title="Add Application"
              data-uk-tooltip></a>
          </li>
          <li>
            <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"
              title="Offcanvas" data-uk-tooltip></a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="uk-container uk-margin-large-top">
  <div class="uk-flex uk-width-1-1">
    <div class="uk-flex">
      <div *ngIf="showAddProjectButton">
        <button class="uk-button uk-button-small uk-button-primary uk-border-rounded" type="button">Select Project <span uk-icon="icon:  triangle-down"></span></button>
        <div uk-dropdown="mode: click">
          <ul class="uk-nav uk-dropdown-nav">
            <li *ngFor="let project of projects; let i = index" class="uk-active"><a (click)="getevent(i)">{{project}}</a></li> 
          </ul>
        </div>
      </div>
      <button *ngIf="(currentApplication)" (click)="cancelProject()" class="uk-button uk-button-small uk-button-secondary uk-border-rounded uk-margin-left">Cancel</button>
    </div>
    <div class="uk-flex uk-margin-auto-left">
        <button (click)="addProject()" [ngClass]="{'uk-hidden': !showAddProjectButton || currentApplication}" class="uk-button uk-button-small uk-button-primary uk-border-rounded">Add Project</button>
        <button *ngIf="(!showAddProjectButton)" (click)="cancelNewProjectAddition()" class="uk-button uk-button-small uk-button-secondary uk-border-rounded uk-margin-left">Cancel</button>
    </div>
  </div>
  <!-- <div *ngIf="(currentApplication)">
    <div class="uk-container uk-margin-medium-top">
      <div class="uk-margin-medium-top uk-width-1-1">
        <div *ngFor="let num of currentApplicationDetails">
          <input class="uk-input uk-width-1-3 uk-margin-bottom" [(ngModel)]="num.FieldName" type="text" />
          
        </div>
      </div>

    </div>
  </div> -->
  <h2 *ngIf="(currentApplication)">Merge Field Name</h2>
  <div class="uk-card uk-card-small uk-border-rounded uk-box-shadow-large uk-card-default uk-card-body" *ngIf="(currentApplication)">
      <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
        <div *ngFor="let detail of currentApplicationDetails">
            <h3 class="uk-card-title">{{detail.FieldName}}</h3>
        </div>
      </div>
  </div>
  <div *ngIf="(addProj)" class="uk-form-stacked">
      <h2>
        Add New Project
      </h2>
      <div class="uk-width-1-2">
          <div class="uk-margin">
              <label class="uk-form-label">Project Name</label>
              <div class="uk-form-controls">
                  <input class="uk-input uk-form-small" [(ngModel)]="projectName" type="text" placeholder="Enter your Project Name">
              </div>
          </div>
      </div>
      <div class="uk-width-1-2">
          <div class="uk-margin">
              <label class="uk-form-label">Project Source Link</label>
              <div class="uk-form-controls">
                  <input class="uk-input uk-form-small" [(ngModel)]="urlFetchDetails" type="text" placeholder="Enter your Project Source Link">
              </div>
          </div>
      </div>
      <div class="uk-flex uk-flex-bottom">
          <div class="uk-width-1-2">
              <div>
                  <label class="uk-form-label">Data Source Link</label>
                  <div class="uk-form-controls">
                      <input class="uk-input uk-form-small" [(ngModel)]="dataSource" type="text" placeholder="Enter your Data Source Link">
                  </div>
              </div>
          </div>
          <div class="uk-width-1-2">
              <button (click)="fetchUserDetails()" class="uk-button uk-button-small uk-button-primary">Get Data Source</button>
          </div>
      </div>
      
    <!-- <div class="uk-inline uk-width-1-2 uk-margin-top uk-margin-bottom">
      <input class="uk-input " [(ngModel)]="dataSource" type="text" placeholder="Enter your Data Source Link.....">
    </div> -->
    <!-- <div *ngIf="(dataLoaded)" style="display: inline-block;" class="uk-inline uk-width-1-1">
      <div class="uk-container uk-margin-medium-top">
        <div class="uk-margin-medium-top uk-width-1-1">
          <div *ngFor="let num of projectModel">
            <input placeholder="Enter Merge Field Name" class="uk-input uk-width-1-3 uk-margin-bottom"
              [(ngModel)]="num.FieldName" type="text" />
    
          </div>
        </div>
    
      </div>
    </div> -->
    <table *ngIf="(dataLoaded && userDataLoaded)" class="uk-table uk-table-striped uk-width-1-3">
        <thead>
            <tr>
                <th>MergeField Name</th>
                <th>Data Source Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of filteredDetails">
                <td>{{detail.dataSourceName}}</td>
                <td>{{detail.dataSourceValue}}</td>
                
           
        </tbody>
    </table>
  
   
    <!-- <div *ngIf="(userDataLoaded)" style="display: inline-block;" class="uk-inline uk-width-1-1">
            <div class="uk-container uk-margin-medium-top">
              <div class="uk-margin-medium-top uk-width-1-1">
                <div *ngFor="let num of projectModel">
                  <input placeholder="Enter Merge Field Name" class="uk-input uk-width-1-3 uk-margin-bottom"
                    [(ngModel)]="num.FieldName" type="text" />
                    <input placeholder="Enter Merge Field Name" class="uk-input uk-width-1-3 uk-margin-bottom"
                    [(ngModel)]="num.FieldName" type="text" />
                 
                </div>
              </div>
      
            </div>
        </div> -->
    <div *ngIf="(dataLoaded)" class="uk-inline">
      <!-- <button (click)="addExtraFields()" class="uk-button uk-button-danger">ADD MORE FIELDS</button> -->
      <button (click)="submitProjectDetails()" class="uk-button uk-button-small uk-button-primary uk-border-rounded">Submit Project Details</button>

    </div>
  </div>

</div>