<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item">
          <a class="uk-logo uk-flex uk-flex-middle" href="#"><img class="custom-logo" src="assets/Logo1.png" alt="" /></a>
        </div>
      </div>
      <div class="uk-navbar-right">
        <div class="uk-margin-right">
          <div uk-form-custom="target: > * > span:first-child">
            <select [(ngModel)]="projectName" (change)=changeProject($event.target.value)>
              <option disabled selected value="">Select Project</option>
              <option *ngFor="let app of allApplications" [value]="app">{{app}}</option>
            </select>
            <button class="uk-button uk-button-top" type="button" tabindex="-1">
              <span></span>
              <span uk-icon="icon: chevron-down"></span>
            </button>
          </div>
        </div>
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/user'] " data-uk-icon="icon:user" title="End User" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/admin']" data-uk-icon="icon: settings" title="Admin Portal" data-uk-tooltip></a>
          </li>
          <li>
            <a [routerLink]="['/applicationname']" data-uk-icon="icon:  sign-out" title="Add Application" data-uk-tooltip></a>
          </li>
          <li>
            <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"
              title="Offcanvas" data-uk-tooltip></a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/HEADER-->
<!-- LEFT BAR -->
<aside id="left-col" class="uk-light uk-visible@m uk-animation-slide-left">
  <div class="uk-margin uk-flex uk-flex-center">
    <div uk-form-custom>
      <input type="file">
      <button class="uk-button uk-button-default uk-button-small" type="button" tabindex="-1">Your Templates</button>
    </div>
  </div>
  <div *ngIf="(spinner == true)">
    <div class="ocrloader">
      <em></em>
      <div>
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i>
      </div>
      <span></span>
    </div>
  </div>
  <div *ngIf="processsingData">
    <div class="ocrloader">
      <em></em>
      <div>
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i>
      </div>
      <span></span>
    </div>
    <p class="uk-margin-remove loader-text">{{loaderMessage}}</p>
  </div>

  <div *ngIf="showTemplates">
    <div class="uk-margin uk-margin uk-flex uk-flex-center">
      <div class="uk-search uk-search-default ">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input [(ngModel)]="searchText" class=" uk-search-input search-uk" type="search" placeholder="Search...">
      </div>
    </div>

    <ul class="uk-list uk-list-striped">
      <li class="uk-flex" *ngFor="let order of ordersData  | filter : searchText; let i = index">
          <!-- <input type="radio" class="uk-radio" name="TemplateName" value="order.TemplateId" (click)="generate(order)"> -->
          {{order.TemplateName}} 
          <a href="" class="uk-icon-button uk-margin-auto-left" uk-icon="download"></a>
      </li>
    </ul>

    <div *ngIf="!form.valid">At least one order must be selected</div>
    
  </div>
</aside>
<div id="content">
  <div class="uk-container uk-container-expand" data-uk-height-viewport="expand: true">
    <div id="contentdevere"></div>
  </div>
  <footer class="uk-section uk-section-small uk-text-center">
    <hr>
    <p class="uk-text-small uk-text-center">Copyright 2019 - First American </p>
  </footer>
</div>
